/*
    Global
*/
html > * {
    font-family: 'Nunito', sans-serif;
}
img {
    width: inherit;
    height: auto;
}
h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.btn.btn-primary {
    background-color: #273b4e;
    border-color: #273b4e;
}
.btn.btn-secondary {
    color: #273b4e;
    background-color: #fff;
    border-color: #fff;
    font-weight: 700;
}
.bg-dark {
    background-color: #273b4e !important;
}
.bg-none {
    background-color: transparent;
}

/*
    Navigation
*/
nav {
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar .navbar-collapse {
  text-align: center;
}
nav .navbar-nav .nav-item a {
    color: #fff;
}
nav .navbar-nav .nav-item a:hover {
    color: #b19774;
}
.navbar-brand span {
    font-size: 0.5rem;
    letter-spacing: 1px;
}

/*
    Carousel
*/
.carousel h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}
.carousel-item {
    max-height: 400px;
}
.carousel-item picture {
    width: inherit;
}

@media (max-width: 45em) {
  .carousel h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 45em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/*
    Marketing
*/
.marketing {
    text-align: center;
}
.marketing .circle{
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.marketing .circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.marketing svg {
    height: 3em;
    width: 3em !important;
}

@media (min-width: 45em) {

}

/*
    About
*/
.about {
    background-image:
        url('../images/shop.webp'),
        url('../images/standard-image-format/shop.jpg');
    background-size: cover;
}
.about .copy {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 4rem;
    border-radius: 5px;
}

/*
    Brands
*/
.slider-wrapper, .slider {
    width: 100%;
}
.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}
.slider img {
    max-width:250px;
    height: auto;
    padding: 15px;
}

/*
    Gallery
*/
.photo-gallery-pages {
    /*max-height: 42rem;
    overflow: scroll;*/
}

.gallery img {
    width: 100%;
    height: auto;
    height: 200px;
    object-fit: cover;
}

.gallery button {
    font-weight: 600;
    letter-spacing: .1rem;
    background-color: #a8bcce;
    border-color: #a8bcce;
}

/* 
    Testimonials
*/
.testimonials {
    background: url('../images/standard-image-format/testimonials.jpg');
    background-size: cover;
    background-position: center center;
}
.testimonials blockquote {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3rem;
}
.testimonials blockquote p {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.testimonials blockquote footer {
    color: #adb3b9;
}

/* 
    Map
*/
.mapouter {
    position:relative;
    text-align:right;
    height:600px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:700px;
    width:100%;
}

/*
  Services  
*/
.service .copy {
    margin-bottom: 3rem;
}
.image-grid img{
    margin-bottom: 1.5rem !important;
}

footer .social-icons svg{
    font-size: 1.5em;
}
footer .social-icons a:hover svg{
    color: #fff;
}