/*
    Global
*/
html > * {
    font-family: 'Nunito', sans-serif;
}
img {
    width: inherit;
    height: auto;
}
h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.btn.btn-primary {
    background-color: #273b4e;
    border-color: #273b4e;
}
.bg-dark {
    background-color: #273b4e !important;
}

/*
    Navigation
*/
nav {
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar .navbar-collapse {
  text-align: center;
}

/*
    Carousel
*/
.carousel {
  background-color: black;
}
.carousel h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
}
/*.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 32rem;
}*/
@media (max-width: 40em) {
  .carousel h2 {
    font-size: 3em;
  }
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/*
    Marketing
*/
.marketing {
    text-align: center;
}
.marketing .circle{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
}
.marketing .circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.marketing .circle img:nth-child(-n+3) {
    height: 115%;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.marketing svg {
    height: 3em;
    width: 3em !important;
}

/*
    About
*/
.about {
    background-image: url('../images/shop.png');
    background-size: cover;
}
.about .copy {
    background-color: rgba(248, 249, 250, 0.85);
    padding: 2em;
}

/*
    Brands
*/
.slider-wrapper, .slider {
    width: 100%;
}
.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}
.slider img {
    max-width:250px;
    height: auto;
    padding: 15px;
}

/*
    Gallery
*/
.gallery img {
    width: 100%;
    height: auto;
}

/* 
    Map
*/
.mapouter {
    position:relative;
    text-align:right;
    height:600px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:700px;
    width:100%;
}
